[Desktop Entry]
Name=LandlordsPalace
X-KDE-PluginInfo-Name=LandlordsPalace
X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=
